html {
	background-color: #F0F8FF;
}

body {
	padding-top: 5%;
}

div {
	padding-top: 5%;
}

canvas {
    border: 5px solid #FFFFFF;
    background-color: #F1F1F1;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

h1 {
	text-align: center;
	font-family: 'Neucha', cursive;
}

