html {
	background-color: #F0F8FF;
    overflow: hidden;
}

body {
	padding-top: 1%;
}

canvas {
    border: 5px solid #FFFFFF;
    background-color: #F1F1F1;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div {
    padding-top: 10px;
	text-align: center;
}

